html{
	max-width: 1440px;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	height: auto;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
.div-container {
    min-width: 550px;
	width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 35px auto;
}
.div-container > * {
	padding: 10px 20px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
}
.div-container > *:hover{
	background-color: #1D6154;
	color: white;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
li img{
	width: 50%;
	margin-top: 5px;
	height: auto;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	width: 100%;
	gap: 25px;
}
ul a{
    text-decoration: none;
    color: black;
}
ul a:hover{
	font-weight: bold;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 10%;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 480px;
    overflow: hidden;
	object-fit: cover;
}
.modal-gallery {
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.modal-gallery img {
	width: 100%;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
input[type="submit"]:hover{
	background-color: #0E2F28;
	cursor: pointer;
}
footer {
    background-color: rgb(255, 255, 255); 
    width: 1519px; 
    position: absolute; 
	left: 0;
    margin-top: 20px; 
    padding: 20px; 
}

footer nav ul {
    display: flex;
    justify-content: flex-end; 
	padding-right: 5%;

}
.active-filter {
    background-color: #1D6154; 
    color: white; 
   
}
.edit {
	text-align: center; /* Centrer le texte */
	background-color: black; /* Couleur de fond noir */
	color: white; /* Couleur du texte blanche */
	padding: 10px; /* Ajouter un peu d'espace autour du texte */
	margin-bottom: 20px; /* Ajouter un espace sous la bannière */
  }
.edit a{
	text-decoration: none;
	color: white;
}  
.container h2 {
    text-align: center; 
}

.container p {
    margin-left: 10px; 
}
.js-modal-2 {
	padding-top: 10px;
}
.modal-buttons-container{
	display: flex;
    justify-content: space-between;
}
.js-modal-close {
    border: none;
    background-color: white;
    font-size: 18px;
}
.js-modal-back {
	border: none;
    background-color: white;
    font-size: 18px;
}
.modal-wrapper h3 {
    font-size: 18px;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}
.modal-gallery {
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.modal-gallery img {
	width: 100%;
}
.modal-wrapper hr {
    margin-top: 30px;
	width: 100%;
}
.modal-button-container{
    display: flex;
    justify-content: center;
}
.add-photo-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #1D6154;
    border-radius: 25px;
    font-family: 'Syne';
    color: white;
    cursor: pointer;
    background-color: #1D6154;
    width: 250px;
}
.image-container {
	position: relative;
	display: inline-block;
  }
  
  .image-container img {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .delete-button {
	position: absolute;
	top: 8px;   
	right: 5px; 
	background-color: black;
	border: none;
	padding: 5px;
	cursor: pointer;
  }
  
  .delete-button i {
	color: rgb(255, 255, 255); 
	font-size: 10px; 
  }

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0,0,0.8);
}

.modal-wrapper {
	overflow: auto;
	width: 600px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	border-radius: 10px;
}

.file-section {
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.file-section label {
	padding: 10px 20px;
    margin-top: 10px;
    border-radius: 25px;
    font-family: 'Syne';
    color: white;
    cursor: pointer;
    background-color: #B9C5CC;
	color: #306685;
    width: 170px;
	text-align: center;
}

.fa-image {
	color: #B9C5CC;
	font-size: 50px;
	margin-top: 5px;
}

#photo-container {
	width: 80%;
}
#photo-container img {
	width: 100%;
}
